@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/



/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 25px;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Banner --*/

.banner {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_descript {
    width: 100%;
    text-align: right;
}

.banner_descript h2 {
    display: block;
    margin: -5px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #504239;
    font-size: 92px;
    line-height: 1;
}

.banner_descript h2:nth-child(1) {
    padding-right: 320px;
}

.banner_descript h2 .gradient {
    background: #EBB71B;
    background: -webkit-linear-gradient(to bottom, #EBB71B 0%, #E47402 100%);
    background: -moz-linear-gradient(to bottom, #EBB71B 0%, #E47402 100%);
    background: linear-gradient(to bottom, #EBB71B 0%, #E47402 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) {

    .banner {
        height: 300px;
    }

    .banner_descript h2 {
        font-size: 73px;
    }

    .banner_descript h2:nth-child(1) {
        padding-right: 262px;
    }

}

@media only screen and (max-width: 767px) {

    .banner {
        height: 300px;
    }

    .banner_descript h2 {
        font-size: 58px;
    }

    .banner_descript h2:nth-child(1) {
        padding-right: 207px;
    }

}

@media only screen and (max-width: 480px) {

    .banner {
        height: 250px;
    }

    .banner_descript h2 {
        font-size: 42px;
    }

    .banner_descript h2:nth-child(1) {
        padding-right: 168px;
    }

}

/*-- /Banner --*/

/*-- Banner 2 --*/

.banner_descript_2 {
    text-align: left;
}

.banner_descript_2 h2:nth-child(1) {
     padding-right: 0;
}

.double_text {
    position: relative;
}

.double_text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 104px;
    line-height: 1;
    font-weight: 700;
}

.double_text h2.dark_title {
    background: #D7DCE0;
    background: -webkit-linear-gradient(to bottom, #D7DCE0 16%, #F5F5F5 25%, #7f8081 100%);
    background: -moz-linear-gradient(to bottom, #D7DCE0 16%, #F5F5F5 25%, #7f8081 100%);
    background: linear-gradient(to bottom, #D7DCE0 16%, #F5F5F5 25%, #7f8081 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    text-shadow: 0 7px 10px rgba(0, 0, 2, .11);
}

.double_text h2.front_title {
    background: #503012;
    background: -webkit-linear-gradient(to top, #503012 0%, #A77027 30%, #F7A93B 100%);
    background: -moz-linear-gradient(to top, #503012 0%, #A77027 30%, #F7A93B 100%);
    background: linear-gradient(to top, #503012 0%, #A77027 30%, #F7A93B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 3;
}

.double_text h2.back_title {
    position: absolute;
    top: 8px;
    left: 0;
    color: #f0f0f4;
    z-index: 2;
}

.two_cols_banner {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding-left: 240px;
    margin-top: -7px;
}

.two_cols_banner > div:nth-child(1) {
    padding-right: 30px;
}

.two_cols_banner h3 {
    padding-top: 49px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 68px;
    line-height: 1;
    color: #504239;
}

.two_cols_banner h3 .gradient {
    background: #EBB71B;
    background: -webkit-linear-gradient(to bottom, #EBB71B 0%, #E47402 100%);
    background: -moz-linear-gradient(to bottom, #EBB71B 0%, #E47402 100%);
    background: linear-gradient(to bottom, #EBB71B 0%, #E47402 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price_wrapp {
    position: relative;
}

.price_wrapp p {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 119px;
    line-height: 1;
}

.price_back {
    position: absolute;
    top: 3px;
    left: 0;
    color: #f0f0f4;
    z-index: 2;
}

.price {
    background: #503012;
    background: -webkit-linear-gradient(to top, #503012 0%, #A77027 30%, #F7A93B 100%);
    background: -moz-linear-gradient(to top, #503012 0%, #A77027 30%, #F7A93B 100%);
    background: linear-gradient(to top, #503012 0%, #A77027 30%, #F7A93B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 3;
}

.price_mark {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 68px;
    line-height: 1;
    color: #50463f;
}

.price_mark .sq {
    font-size: 39px;
    position: relative;
    top: -22px;
    right: -5px;
}

@media only screen and (max-width: 1024px) {

    .double_text h2 {
        font-size: 70px;
    }

    .price_wrapp p {
        font-size: 90px;
    }

    .price_mark {
        font-size: 49px;
    }

    .price_mark .sq {
        font-size: 31px;
        top: -17px;
    }

    .two_cols_banner > div:nth-child(1) {
        padding-right: 18px;
    }

    .two_cols_banner h3 {
        padding-top: 45px;
        font-size: 50px;
    }

}

@media only screen and (max-width: 767px) {

    .double_text h2 {
        font-size: 50px;
    }

    .price_wrapp p {
        font-size: 74px;
    }

    .price_mark {
        font-size: 39px;
    }

    .price_mark .sq {
        font-size: 26px;
        top: -15px;
    }

    .two_cols_banner {
        padding-left: 40px;
    }

    .two_cols_banner h3 {
        padding-top: 39px;
        font-size: 38px;
    }

}

@media only screen and (max-width: 480px) {

    .banner_descript_2 h2:nth-child(1) {
        padding-right: 0;
    }

}

@media only screen and (max-width: 450px) {

    .double_text h2 {
        font-size: 34px;
    }

    .two_cols_banner {
        padding-left: 0;
    }

    .price_wrapp p {
        font-size: 60px;
    }

    .price_mark {
        font-size: 29px;
    }

    .price_mark .sq {
        font-size: 23px;
        top: -11px;
    }

    .two_cols_banner h3 {
        padding-top: 29px;
        font-size: 25px;
    }

}

/*-- /Banner 2 --*/